html {
  @apply box-border bg-white overflow-x-hidden;

  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  @apply box-border m-0 outline-none;

  -webkit-tap-highlight-color: transparent;
}
